:root {
  --ff-firago: 'FiraGO', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --ff-helvetica: 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-helvetica);
  color: #000000;
  background-color: #ffffff;
}

.mx-auto {
  margin-inline: auto;
}

.container {
  width: 1312px;
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: 225px auto 225px;
}

.home {
  margin-top: 31px;

  &__main {
    background-color: #dfdfdf;

    h1 {
      font-size: 35px;
      font-weight: 700;
      color: #ff0000;
      margin-top: 54px;
      margin-left: 51px;
    }

    p {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }

    div {
      margin-top: 165px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 58px;
    }
  }

  .badge-new {
    margin-left: auto;
    transform: rotate(-15deg) translateY(-10px);
    width: 92px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-color: #f1811f;
    border-radius: 11px;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 0.4);
  }

  &__teal {
    margin-top: 20px;
    margin-bottom: 14px;
    padding-left: 21px;
    font-size: 20px;
    font-weight: 700;
    color: #1996a9;
  }

  &__red {
    margin-top: 26px;
    padding-left: 21px;
    font-size: 19px;
    font-weight: 700;
    color: #ff0000;
  }
}

.mission {
  &__main {
    padding-top: 52px;
    color: #fff;
    text-align: center;

    h2 {
      margin-bottom: 46px;
      font-size: 35px;
      font-weight: 700;
    }

    p {
      font-size: 27px;
      font-weight: 700;
      width: 741px;
      margin-inline: auto;

      &:first-of-type {
        margin-bottom: 40px;
      }
    }
  }

  &__teal {
    background-color: #1996a9;
  }
}

.what-we-do {
  padding-top: 70px;
  scroll-margin-top: 100px;

  &__main {
    background-color: #dfdfdf;
    padding-inline: 40px;
    padding-block: 22px 80px;

    h2 {
      margin-bottom: 28px;
      text-align: center;
      font-size: 35px;
      font-weight: 700;
    }

    h3 {
      margin-bottom: 18px;
      font-size: 24px;
      font-weight: 700;
      color: hsl(188 74% 38% / 0.7);

      span {
        font-family: Wingdings;
        font-size: 24px;
        color: #ff0000;
      }
    }

    p {
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 400;

      & + h3 {
        margin-top: 36px;
      }
    }
  }
}

.science {
  margin-top: 31px;

  &__main {
    padding-block: 13px 64px;
    padding-inline: 31px;
    background-color: #1996a9;

    h1 {
      margin-bottom: 17px;
      font-size: 35px;
      font-weight: 700;
      color: #fff;
      text-align: center;
    }

    h2 {
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-family: Wingdings;
        font-size: 24px;
        color: #ff0000;
      }
    }
  }

  &__lead {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }

  &__text {
    margin-bottom: 34px;
    font-size: 18px;
    color: #fff;
  }

  article {
    position: relative;
    margin-top: 34px;
    padding: 26px 30px 42px;
    background-color: #fff4df;
    box-shadow: 10px 10px 8px rgb(0 0 0 / 0.34);

    h3 {
      margin-bottom: 14px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    p {
      font-size: 15px;

      &:not(:first-child) {
        margin-top: 18px;
      }
    }

    div {
      position: absolute;
      right: 30px;
      bottom: 10px;
      display: flex;
      justify-content: flex-end;
      text-align: right;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &__aside {
    background-color: #dfdfdf;
    padding: 19px 20px;

    figcaption {
      font-size: 12px;
    }
  }

  &__figure {
    img {
      margin-bottom: 14.5px;
    }

    &--2 {
      margin-top: 180px;
      figcaption {
        font-weight: 700;
      }
    }

    &--3 {
      margin-top: 135px;
      border: 2px solid #1996a9;
      box-shadow: 6px 6px 6px rgb(0 0 0 / 0.16);
      height: 147px;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &__footnote {
    margin-top: 46px;
    font-size: 12px;
    font-weight: 700;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.about-us {
  margin-top: 31px;

  &__main {
    padding-top: 13px;
    padding-inline: 32px;
    color: #fff;
    background-color: #1996a9;

    h2 {
      margin-bottom: 17px;
      font-size: 35px;
      font-weight: 700;
      text-align: center;
    }
  }

  &__lead {
    font-size: 18px;
    margin-bottom: 29px;
  }

  &__aside {
    padding: 20px;
    padding-bottom: 222px;
    background-color: #dfdfdf;
    display: flex;
    align-items: flex-end;

    img {
      margin-bottom: 14px;
    }

    p {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }
}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 42px;

  figcaption {
    margin-top: 10px;
    font-size: 18px;
  }

  p {
    margin-top: 15px;
    font-size: 18px;
    color: #000000;
  }
}

.contact {
  padding-top: 70px;
  scroll-margin-top: 100px;

  &__wrapper {
    padding-block: 13px 24px;
    padding-inline: 32px;
    width: 862px;
    margin-inline: auto;
    background-color: #1996a9;
    border: 1px solid #ffffff;

    h2 {
      margin-bottom: 19px;
      font-size: 35px;
      font-weight: 700;
      color: #fff;
      text-align: center;
    }

    p {
      margin-bottom: 35px;
      font-size: 18px;
      color: #fff;
      text-align: center;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__form {
    input,
    textarea {
      width: 100%;
      border: 2px solid #ffffff;
      font-size: 15px;
      color: #fff;
      background-color: #1996a9;

      &::placeholder {
        font-size: 15px;
        color: #fff;
        font-family: inherit;
      }
    }

    input {
      padding-inline: 10px;
      height: 31px;
      margin-bottom: 19px;
    }

    textarea {
      padding: 10px;
      margin-bottom: 24px;
      height: 142px;
    }

    button {
      display: block;
      margin-inline: auto;
      width: 160px;
      height: 32px;
      color: #1996a9;
      font-size: 15px;
      font-weight: 700;
      background-color: #fff;
      border: none;
    }
  }

  .form-group {
    gap: 24px;
    display: flex;
  }
}
